<body>
  <div class="container-fluid d-flex">
    <div class="card" style="--clr: #009688">
      <div class="img-box">
        <img src="">
      </div>
      <div class="content">
        <strong>User:</strong>
        <%= @trip.user.first_name %>
        <h1><%= @trip.destination %></h1>
        <h2>Date:<%= @trip.date %></h2>
        <p>
          <%= @trip.theme%>
        </p>
        <a href="" class="btn btn-primary">Request to join</a>
      </div>
    </div>
  </div>

  <br>

  <div>
    <% if policy(@trip).edit? %>
    <%= link_to "Edit this trip", edit_trip_path %>
    <% end %>
  </div>
  <div>
    <% if policy(@trip).destroy? %>
    <%= link_to "Delete this trip", trip_path(@trip), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  </div>
  <div>
    <%= link_to "Back to all trips", trips_path %>
  </div>
</body>
